workDir = 'gs://compgen-dbb-playground-datamain/temp/work'
google {
   location = 'europe-west3'
   region  = 'europe-west3'
   project = 'compgen-dbb-playground'
   batch.spot = true
}
process {
   executor = 'google-batch'
   errorStrategy = { task.exitStatus in [1,143,137,104,134,139,255,108, 50001] ? 'retry' : 'finish' }
   maxRetries = 5
   maxErrors = '-1'
   resourceLabels = [ scope: 'teaching', user: 'francesco', type: 'nextflow', env: 'cpu', analysis: 'test_teaching' ]
   disk = '500.GB'
   scratch = false
}
fusion.enabled = true
wave.enabled = true
tower {
    enabled = true
    accessToken = secrets.TOWER_ACCESS_TOKEN
    workspaceId = secrets.TOWER_WORKSPACE_ID
}
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
  fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,syscr,syscw,read_bytes,write_bytes'
}