params {

    genomes {
            'GRCh38chr21' {
                fasta                 = "gs://compgen-dbb-playground-datamain/data/refs/Homo_sapiens_assembly38_chr21.fa"
                fasta_fai             = "gs://compgen-dbb-playground-datamain/data/refs/Homo_sapiens_assembly38_chr21.fa.fai"
                gff                   = "gs://compgen-dbb-playground-datamain/data/refs/gencode_v29_chr21.gff"
                transcript_fasta      = "gs://compgen-dbb-playground-datamain/data/refs/gencode_v29_transcripts_chr21.fa"
                star_index            = "gs://compgen-dbb-playground-datamain/data/refs/star_index_chr21.tar.gz"
                salmon_index          = "gs://compgen-dbb-playground-datamain/data/refs/salmon_index_chr21.tar.gz"
            }
    }    
}